*.patch -whitespace
Projects/patches/* -whitespace
CMake/CTestCustom.cmake.in -whitespace
Projects/apple/*  -whitespace
Projects/*  -whitespace
Projects/win32/*  -whitespace
Projects/unix/*  -whitespace
